body {
    background-color: beige;
    text-align: center;
    margin:0;   
    padding:0;
    font-size:100%;
}

.nameheader {
        background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/3-las-vegas-skyline-bleu-bri.jpg");
        background-size: contain;
        background-repeat: repeat;  
        height: 300px;     
        font-size: 56px;
        font-style: italic;
        color: black;
            }



.occupation {
        font-size: 34px

}

hr {
    border: 0;
    background: url("https://cdn.shopify.com/s/files/1/1135/1462/products/Las_Vegas_Cover_700x700.jpg?v=1466745564") center center repeat;
    background-size: auto auto;
    background-size: 33px auto;
    position: relative;
    overflow: visible;
    position: relative; 
    margin: 15px auto 30px;
    height: 50px;
    background-repeat: repeat;
    vertical-align: middle;
    background-color: beige;

}






